.container {
  // display: flex;

  .item {
    color: #000000;
    text-decoration: none;
  
    &:hover {
      color: blue;
    }

    > span {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
